  <div class='register'>
    <h1>Register Here</h1>
    <form class="gm" action="http://localhost:3000/register" method="post">
      <label for="name">GM: <input type="text" name="name" value=""></label>
      <label for="password">Password<input type="text" name="password" value=""></label>
      <input type="submit" name="submit" value="Sign In">
    </form>
  </div>
